*{
  font-family: 'helvetica', 'sans-serif';
  font-weight: lighter;
}

$accent-color:#43cff9;
$gray-color: #eceaea;

%messagebubble{
  border-radius: 4em;
  padding: 0.5em;
  margin: 0.1em 0;
  width: fit-content
}

#home{
  margin: 0 10px;
}

.chat-window {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px;
  width: 50%;
  // height: 73vh
}

.message-sender{
  text-align: right;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
  min-height: inherit;
}

.message-recipient{
  text-align: left;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
  min-height: inherit;
}

.message-bubble-recipient{
  @extend %messagebubble;
  background-color: $gray-color;
  text-align: left;
  align-self: flex-start;
}

.message-bubble-sender{
  @extend %messagebubble;
  background-color: $accent-color;
  text-align: right;
  align-self: flex-end;
}

.typing {
  @extend %messagebubble;
  background-color: white;
  text-align: left;
  align-self: flex-start;
  will-change: transform;
  width: auto;
  padding: .5em;
  display: table;
  position: relative;
  animation: 2s bulge infinite ease-out;
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
  }
  &::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
  }
  span {
    height: 0.5em;
    width: 0.5em;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

.sentAt{
  font-size: 15%
}

.window-container {
  // height: 73vh;
  min-height: auto;
}

.messages-outer{
  // overflow: auto;
  height: 73vh;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
}

.messages-container{
  // height: 73vh;
  overflow: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
}

.input-container{
  margin: 0.5em 0;
  padding: 0.5em 0.8em;
  background-color: $gray-color;
  form {
    display: flex;
    justify-content: space-around;
  }
  .input-text {
    padding: 1;
    margin-right: 1.1em;
    flex-grow: 40;
    border-radius: 4em;
    height: 2em;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    &:focus{
      outline: none
    }
  }
  .send-button{
    color: $accent-color;
    flex-grow: 1;
    align-self: center;
    font-size: xx-large
  }
}

