*{
  font-family: 'helvetica', 'sans-serif';
  font-weight: lighter;
}

$accent-color:#43cff9;

%messagebubble{
  border-radius: 4em;
  padding: 0.5em;
  margin: 0.1em 0;
  width: fit-content
}

#home{
  margin: 0 10px;
}

.chat-window {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px;
  width: 50%;
  // height: 73vh
}

.message-sender{
  text-align: right;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
  min-height: inherit;
}

.message-recipient{
  text-align: left;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin: 1.5em 0;
  min-height: inherit;
}

.message-bubble-recipient{
  @extend %messagebubble;
  background-color: lightgray;
  text-align: left;
  align-self: flex-start;
}

.message-bubble-sender{
  @extend %messagebubble;
  background-color: $accent-color;
  text-align: right;
  align-self: flex-end;
}

.typing{
  @extend %messagebubble;
  background-color: lightgray
}

.sentAt{
  font-size: 15%
}

.window-container {
  height: 73vh;
  min-height: auto;
}

.messages-container{
  display: flex;
  flex-direction: column;
  height: inherit;
  overflow: auto;
  justify-content: flex-end;
}

.input-container{
  border-radius: 4em;
  margin: 0.5em;
  padding: 0;
  form {
    display: flex;
    justify-content: space-around;
  }
  .input-text {
    padding: 1;
    flex-grow: 25;
    border-radius: 4em;
    height: 2em;
    &:focus{
      outline: none
    }
  }
  .send-button{
    color: $accent-color;
    flex-grow: 1;
    align-self: center
  }
}

